/* Theme */

main {
background-image: url(images/rainbow.gif);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.icons-social a {
	color: #00b49c;
	transform: scale(1);
	
	

}

.icons-social a svg path{
	fill: #ffef00;
}
/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 5em;
	padding: 20px;
	
	
}
.icons-social:before i {
	content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.icons-social i {
	background: transparent;
}
.icons-social i:hover{
	transform: scale(1.5); }
	
.icons-social:after i {
	z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
	0% { background-position: 0 0; }
    50% { background-position: 400% 0; }d
    100% { background-position: 0 0; }
}
/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	line-height: 100px;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 7.75em;
	font-weight: 600;
	color: #f25245;
}

main > .tagline {
	font-size: 2.2rem;
	margin: 10rem 10 10 10;
	font-weight: 200;
	color: #b557aa;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}
/* Minimal CSS Reset */

html {
	box-sizing: border-box;
	font-size: 12px;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
  }
  
  ol, ul {
	list-style: none;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }